.logo {
  width: 120px;
  /* flex: 1; */
}
.header {
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background-color: white;

  min-height: var(--marginNav);
}
.shadownav {
  box-shadow: 0 0.75rem 2.088rem rgba(0, 0, 0, 25%);
}
.navbar {
  display: flex;
  padding: 10px 0;
  align-items: center;
  justify-content: space-between;

  border-bottom: 1px solid var(--mainColor);
}

.list_item {
  padding: 0 30px 3px 30px;
  color: var(--mainColor);
  text-align: center;
  font-weight: 600;
  /* cursor: pointer; */
}
/* .list_item:hover{
    background-color:  #edfded;
    color: #618264;
    border-radius: 4px;
    cursor: pointer;
} */
.list {
  display: flex;
  list-style: none;
  /* flex: 1; */
}
.search {
  /* width: 1270px; */
  display: flex;
  align-items: center;
}
a {
  text-decoration: none;
}
.navlogin {
  display: flex;
  align-items: center;
  width: 219.45px;
  justify-content: end;
}
.notify {
  width: 20px;
  cursor: pointer;
}
.avt {
  width: 27px;
  margin-left: 20px;
  border-radius: 20px;
  cursor: pointer;
}
.cart {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.cartIcon {
  position: relative;
}
.cartNumble {
  position: absolute;
  background-color: red;
  font-size: 12px;
  padding: 1px 5px;
  border-radius: 40px;
  top: -15%;
  right: -20%;

  display: block;
  color: #f0f0f0;
}
